src/cz/muni/fi/PB138/main/db/schema.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- simple data types -->
    <xs:simpleType name="infoString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="codeString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="shortString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="longString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="amountDecimal">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="4"/>
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="date">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>

    <xs:simpleType name="multiplierFloat">
        <xs:restriction base="xs:float">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="basicInteger">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        TODO:
        - occurences
        - prepsat xpath
        - klice

        struktura (zhruba):
        <bar>
            <bartype>
                <drinkbar>
                <userbar>
            <drink>
                <ingredient>
                <ingredientdrink>
                    <quantity>
                    <unit>
                    <bottles>
            <events>
        <user>
            <userrole>
            <order>
                <orderdrink>

     -->
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="bars">
                    <xs:complexType>
                        <xs:sequence maxOccurs="1">
                            <xs:element name="bar">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="name" type="shortString"/>
                                        <xs:element name="info" type="longString"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                    <xs:attribute name="BarTypeId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKBarId">
                                    <xs:selector xpath="bar"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                                <xs:keyref name="FKBarTypeId" refer="PKBarTypeId">
                                    <xs:selector xpath="bartype"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                            </xs:element>
                            <xs:element name="bartype">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="name" type="shortString"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKBarTypeId">
                                    <xs:selector xpath="bartype"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                            </xs:element>
                            <xs:element name="userbar">
                                <xs:complexType>
                                    <xs:attribute name="userBarId" type="basicInteger"/>
                                    <xs:attribute name="userRoleId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKUserBarId">
                                    <xs:selector xpath="userbar"/>    <!-- kompozitni klic odkazujici na id ve 2 ruznych tabulkach? -->
                                    <xs:field xpath="bar/@id"/>
                                    <xs:field xpath="user/@id"/>
                                </xs:key>
                                <xs:keyref name="FKUserRoleId" refer="PKUserRoleId">
                                    <xs:selector xpath="userrole"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                            </xs:element>
                            <xs:element name="drinkbar">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="1">
                                        <xs:element name="info" type="infoString"/>
                                    </xs:sequence>
                                    <xs:attribute name="DrinkId" type="basicInteger"/>
                                    <xs:attribute name="BarId" type="basicInteger"/>
                                    <xs:attribute name="PriceId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKDrinkBarId">
                                    <xs:selector xpath="drinkbar"/>
                                    <xs:field xpath="drink/@id"/>
                                    <xs:field xpath="user/@id"/>
                                </xs:key>
                                <xs:keyref name="FKPriceId" refer="PKBarTypeId">
                                    <xs:selector xpath="bartype"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                            </xs:element>
                            <xs:element name="events">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="name" type="shortString"/>
                                        <xs:element name="info" type="longString"/>
                                        <xs:element name="datetime" type="xs:dateTime"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                    <xs:attribute name="BarId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKEventsId">
                                    <xs:selector xpath="events"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                                <xs:keyref name="FKBarId" refer="PKBarId">      <!-- refer na jmeno primarniho klice v druhy tabulce -->
                                    <xs:selector xpath="bar"/>                  <!-- xpath na atribut elementu kde je cizi klic -->
                                    <xs:field xpath="@id"/>                     <!-- field na atribut obsahujici primarni klic -->
                                </xs:keyref>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="drinks">
                    <xs:complexType>
                        <xs:sequence maxOccurs="1">
                            <xs:element name="drink">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="name" type="shortString"/>
                                        <xs:element name="info" type="longString"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                    <xs:attribute name="BarId" type="basicInteger"/>
                                    <xs:attribute name="PriceId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKDrinkId">
                                    <xs:selector xpath="drink"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                                <!--<xs:keyref name="FKBarId" refer="PKBarTypeId">
                                    <xs:selector xpath="bartype"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                                <xs:keyref name="FKBarTypeId" refer="PKBarTypeId">
                                    <xs:selector xpath="bartype"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>-->
                            </xs:element>
                            <xs:element name="ingredients">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ingredient">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="1">
                                                    <xs:element name="name" type="infoString"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="basicInteger"/>
                                            </xs:complexType>
                                            <xs:key name="PKIngredientId">
                                                <xs:selector xpath="ingredient"/>
                                                <xs:field xpath="@id"/>
                                            </xs:key>
                                        </xs:element>
                                        <xs:element name="ingredientdrink">
                                            <xs:complexType>
                                                <xs:attribute name="ingredientId" type="basicInteger"/>
                                                <xs:attribute name="drinkId" type="basicInteger"/>
                                                <xs:attribute name="quantityId" type="basicInteger"/>
                                            </xs:complexType>
                                            <xs:key name="PKIngredientDrinkId">
                                                <xs:selector xpath="ingredientdrink"/>
                                                <xs:field xpath="ingredient/@id"/>
                                                <xs:field xpath="drink/@id"/>
                                            </xs:key>
                                            <!--<xs:keyref name="FKQuantityId" refer="PKQuantityId">
                                                <xs:selector xpath="quantity"/>
                                                <xs:field xpath="@id"/>
                                            </xs:keyref>-->
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="quantity">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="amount" type="amountDecimal"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                    <xs:attribute name="UnitId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKQuantityId">
                                    <xs:selector xpath="quantity"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                                <xs:keyref name="FKUnitId" refer="PKUnitId">
                                    <xs:selector xpath="unit"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                            </xs:element>
                            <xs:element name="unit">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="name" type="shortString"/>
                                        <xs:element name="code" type="codeString"/>
                                        <xs:element name="multiplierToBase" type="multiplierFloat"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKUnitId">
                                    <xs:selector xpath="unit"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                            </xs:element>
                            <xs:element name="bottles">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="datetime" type="xs:dateTime"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                    <xs:attribute name="IngredientId" type="basicInteger"/>
                                    <xs:attribute name="QuantityId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKBottlesId">
                                    <xs:selector xpath="bottles"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                                <xs:keyref name="FKIngredientId" refer="PKIngredientId">
                                    <xs:selector xpath="ingredient"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                                <!--<xs:keyref name="FKQuantityId" refer="PKQuantityId">
                                    <xs:selector xpath="quantity"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>-->
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="name" type="shortString"/>
                                        <xs:element name="email" type="shortString"/>
                                        <xs:element name="password" type="shortString"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                    <xs:attribute name="defaultUnitId" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKUserId">
                                    <xs:selector xpath="user"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                                <xs:keyref name="FKDefaultUnitId" refer="PKUnitId">
                                    <xs:selector xpath="unit"/>
                                    <xs:field xpath="@id"/>
                                </xs:keyref>
                            </xs:element>
                            <xs:element name="userrole">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1">
                                        <xs:element name="role" type="infoString"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="basicInteger"/>
                                </xs:complexType>
                                <xs:key name="PKUserRoleId">
                                    <xs:selector xpath="userrole"/>
                                    <xs:field xpath="@id"/>
                                </xs:key>
                            </xs:element>
                            <xs:element name="orders">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="order">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="1">
                                                    <xs:element name="datetime" type="xs:dateTime"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="basicInteger"/>
                                                <xs:attribute name="UserId" type="basicInteger"/>
                                                <xs:attribute name="BarId" type="basicInteger"/>
                                                <xs:attribute name="PriceId" type="basicInteger"/>
                                            </xs:complexType>
                                            <xs:key name="PKOrderId">
                                                <xs:selector xpath="order"/>
                                                <xs:field xpath="@id"/>
                                            </xs:key>
                                            <xs:keyref name="FKUserId" refer="PKUserId">
                                                <xs:selector xpath="user"/>
                                                <xs:field xpath="@id"/>
                                            </xs:keyref>
                                            <!--<xs:keyref name="FKBarId" refer="PKBarId">
                                                <xs:selector xpath="bar"/>
                                                <xs:field xpath="@id"/>
                                            </xs:keyref>
                                            <xs:keyref name="FKPriceId" refer="PKPriceId">
                                                <xs:selector xpath="quantity"/>
                                                <xs:field xpath="@id"/>
                                            </xs:keyref>-->
                                        </xs:element>
                                        <xs:element name="orderdrink">
                                            <xs:complexType>
                                                <xs:attribute name="orderId" type="basicInteger"/>
                                                <xs:attribute name="drinkId" type="basicInteger"/>
                                                <xs:attribute name="quantityId" type="basicInteger"/>
                                            </xs:complexType>
                                            <xs:key name="PKOrderDrinkId">
                                                <xs:selector xpath="orderdrink"/>
                                                <xs:field xpath="order/@id"/>
                                                <xs:field xpath="drink/@id"/>
                                            </xs:key>
                                            <xs:keyref name="FKQuantityId" refer="PKQuantityId">
                                                <xs:selector xpath="quantity"/>
                                                <xs:field xpath="@id"/>
                                            </xs:keyref>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>